## Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python

## Environments
.venv/
venv/
env/

## Jupyter
.ipynb_checkpoints/

## OS / editor
.DS_Store
Thumbs.db
.vscode/

## Streamlit
.streamlit/

## Data artifacts (keep raw data, ignore temp outputs)
reports/
**/*.log
